name: Local models
version: 1.0.0
schema: v1
models:
  - name: Ollama
    provider: ollama
    model: AUTODETECT
  - name: LM Studio
    provider: lmstudio
    model: AUTODETECT
    apiBase: http://localhost:1234/v1/
# Recommended local setting for code autocomplete:
# - name: Qwen coder 2.5 3B
#   provider: lmstudio
#   model: qwen2.5-coder-3b-instruct
#   roles:
#     - autocomplete
#   autocompleteOptions:
#     disable: false
#     maxPromptTokens: 1024
#     debounceDelay: 250
#     modelTimeout: 150
#     maxSuffixPercentage: 0.2
#     prefixPercentage: 0.3
#     onlyMyCode: true
#     keepAlive: 5m
context:
  - provider: code
  - provider: docs
  - provider: diff
  - provider: terminal
  - provider: problems
  - provider: folder
  - provider: codebase
